<footer class="bg-surface dark:bg-background border-t border-outline-variant/20 w-full py-stack-lg mt-auto">
<div class="max-w-[1200px] mx-auto flex flex-col md:flex-row justify-between items-center px-container-padding gap-stack-md">
<div class="font-headline-md text-headline-md font-bold text-primary dark:text-primary-fixed">
                Matias Sinchi SWE
            </div>
<div class="flex gap-gutter font-body-md text-body-md text-on-surface-variant">
<a class="hover:text-primary transition-colors hover:underline decoration-secondary underline-offset-4 transition-all duration-200" href="#">Privacy</a>
<a class="hover:text-primary transition-colors hover:underline decoration-secondary underline-offset-4 transition-all duration-200" href="#">Terms</a>
<a class="hover:text-primary transition-colors hover:underline decoration-secondary underline-offset-4 transition-all duration-200" href="#">LinkedIn</a>
<a class="hover:text-primary transition-colors hover:underline decoration-secondary underline-offset-4 transition-all duration-200" href="#">GitHub</a>
</div>
<div class="font-body-md text-body-md text-on-surface-variant">
                © 2024 Studio Design. All rights reserved.
            </div>
</div>
</footer>